body {
	padding-top: 70px
}

.navbar-inverse {
	background-color: #2A3744
}

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus
	{
	background-color: #54667A
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus
	{
	background-color: #54667A
}

.dropdown-menu {
	background-color: #2A3744
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-color: #54667A
}

.navbar-inverse {
	background-image: none;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-image: none;
}

.navbar-inverse {
	border-color: #080808
}

.navbar-inverse .navbar-brand {
	color: #999999
}

.navbar-inverse .navbar-brand:hover {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus
	{
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus
	{
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus
	{
	color: #FFFFFF
}

.dropdown-menu>li>a {
	color: #FFFFFF
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-bottom-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-bottom-color: #FFFFFF
}

label.required::after {
   content:" *"; color: red;
}

h3 {
	padding-bottom: 25px;
}

footer {
	padding: 40px 0 30px 0;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5
}

footer li {
	display: inline;
	padding: 0 2px;
}

.section-container {
	font-size: 18px;
    margin: -40px 0 -100px 0;
    background-color:   #FAFAFA  ;
}

.section-container h2 {
	margin-top: 10px;
}

section .container {
	padding: 60px 0 80px 0;	
}

.section-home-background {
    background-image: url("../images/economist.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	font-size: 21px;
    padding: 20% 0 20px 0;
}

.section-home-background h1 {
	color: white;
	font-size: 50px;
	line-height: 1.6;
}

.section-home-background h1 span {
	padding: 0px 5px 0px 5px;	
}

.section-home-background a {
	margin-top: 70px;
}

.h1grey {
	background-color: rgba(145, 160, 160, 0.48);
}

.h1brown  {
	background-color: rgba(204, 104, 41, 0.48);
}

.section-home-white h3 {
	margin-top: 38px;
	margin-bottom: 10px;
	padding-bottom: 0px;
}

.section-home-white {
	border-bottom: 1px solid #e5e5e5;
}

.section-white i {
    color: #7b7b8c;
    font-size: 2em;
}

.section-blue {
    background: none repeat scroll 0 0 rgb(87, 151, 208);
    color: rgb(255, 255, 255);
}

#success {
	margin-bottom: -50px;
	padding-top: 40px;
}

#get-started {
	margin-top: 5px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#home {
	margin-top: -70px;
	padding-top: 70px;
}

.btn-down i.animated {
    transition-duration: 1s;
    transition-property: -moz-transform;
}

.btn-down {
	color: #fff;
	font-size: 30px;
	padding-top: 54px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

@media (min-height: 700px) {
	.btn-down {
		display: none;
	}
}

.orlogin {
	color: #255255255;
}
.ukupno {
	background-color: #e5e8e8;
}
/*
.picture-size {
	height: 600px;
	width: 1580px;
}*/
.picture-size {
	height: 400px;
	width: 980px;
}