<?xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>economist</display-name>
  <web_1:context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/spring-servlet.xml
			/WEB-INF/spring-security.xml
		</param-value>
  </web_1:context-param>
  <web_1:context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </web_1:context-param>
  <web_1:context-param>
    <param-name>log4jExposeWebAppRoot</param-name>
    <param-value>false</param-value>
  </web_1:context-param>
  <web_1:filter>
    <web_1:filter-name>encoding-filter</web_1:filter-name>
    <web_1:filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</web_1:filter-class>
    <web_1:init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>encoding-filter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>springSecurityFilterChain</web_1:filter-name>
    <web_1:filter-class>org.springframework.web.filter.DelegatingFilterProxy</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>springSecurityFilterChain</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener
		</listener-class>
  </web_1:listener>
  <web_1:listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </web_1:listener>
  <web_1:listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener
		</listener-class>
  </web_1:listener>
  <web_1:servlet>
    <web_1:servlet-name>spring</web_1:servlet-name>
    <web_1:servlet-class>org.springframework.web.servlet.DispatcherServlet
		</web_1:servlet-class>
    <web_1:load-on-startup>1</web_1:load-on-startup>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>spring</web_1:servlet-name>
    <web_1:url-pattern>/</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:error-page>
    <web_1:error-code>404</web_1:error-code>
    <web_1:location>/notFound.jsp</web_1:location>
  </web_1:error-page>
  <web_1:error-page>
    <web_1:error-code>500</web_1:error-code>
    <web_1:location>/error.jsp</web_1:location>
  </web_1:error-page>
  <web_1:session-config>
    <web_1:session-timeout>60</web_1:session-timeout>
  </web_1:session-config>
</web_1:web-app>